@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */


@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 14px;
}

header img {
  height: 15px;
}

header ul {
  margin-right: auto;
}

header ul li {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}

.cover-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), to(black));
  background: linear-gradient(to bottom, #1d1d1d, black);
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

article {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
}

.cover {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cover-heading {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cover-heading h1 {
  color: white;
  font-size: 52px;
  font-weight: 900;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.cover-heading span {
  color: white;
  font-size: 52px;
  font-weight: 900;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1024px) {
  .cover-heading h1 {
    font-size: 72px;
  }
  .cover-heading span {
    font-size: 72px;
  }
  .imsrk2 {
    font-size: 124px;
  }
  header {
    padding: 50px 80px;
  }
  header ul {
    margin-right: auto;
  }
  header ul li {
    font-size: 14px;
    margin-right: 50px;
  }
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 280px;
	
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}

#login form input[type="text"], input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #95a5a6;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #1abc9c;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 250px;
}

#login form input[type="submit"]:hover {
	background-color: #16a085;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}


body {
	background: #252424;
	color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}


.logo{
	color: #7f8c8d;
	font:'Open Sans';
	padding: 30px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	font-size: 24px;
	background: #252424;
	text-shadow: 0px 0px 14px #1abc9c;
}


br {
	font-size: 16px;
}

.sve {
	background: black;
	height: 600px;
}

.wrap {
	background: url(http://test.lokosoft.co/wp-content/uploads/2014/02/bck.jpg) no-repeat black;
	width: 960px;
	padding-top: 130px;
	margin-left: auto;
	margin-right: auto;
	height: 470px;
}

.title {
	color: #16a085;
	font-size: 52px;
	font-weight: 300;
	text-align: center;
	padding: 20px;
	text-shadow: 0px 0px 14px #16a085;

}

.text {
	color: #95a5a6;
	font-size: 16px;
	float: left;
	font-weight: 300;
	width: 550px;
	padding: 40px;
}



@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}


.btn {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/* Animacija za Radioaktivno dugme zavrsava se ovde */



div.btn { 
    -webkit-transition: opacity 0.2s linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

.btn { opacity: 0.75; }
.btn:hover { 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 1; 
}





div.yes { 
    -webkit-transition: opacity 0.2s linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

.yes { opacity: 0.75; }
.yes:hover { 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 1; 
}


div.mail { 
    -webkit-transition: opacity 0.2s linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

div.title { 
    -webkit-transition: opacity 0.2s linear;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.55;
  }
  10% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

.title { opacity: 0.75; }
.title:hover { 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 1; 
}


.title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'open sans', sans-serif;
  font-size: 48;
  color: transparent;
}

.title span {
  text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
  
-webkit-animation: loading 1.2s ease-in-out infinite alternate;
-moz-animation: loading 1.2s ease-in-out infinite alternate;
-ms-animation: loading 1.2s ease-in-out infinite alternate;
animation: loading 1.2s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
	to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

@-moz-keyframes loading {
	to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

@-ms-keyframes loading {
	to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

@keyframes loading {
	to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.title span:nth-child(2) {
-webkit-animation-delay:0.2s;
   -moz-animation-delay:0.2s;
    -ms-animation-delay:0.2s;
        animation-delay:0.2s;
}
.title span:nth-child(3) {
-webkit-animation-delay:0.4s;
   -moz-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
        animation-delay:0.4s;
}
.title span:nth-child(4) {
-webkit-animation-delay:0.6s;
   -moz-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
        animation-delay:0.6s;
}
.title span:nth-child(5) {
-webkit-animation-delay:0.8s;
   -moz-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
        animation-delay:0.8s;
}
.title span:nth-child(6) {
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
        animation-delay:1s;
}
.title span:nth-child(7) {
-webkit-animation-delay:1.2s;
   -moz-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
        animation-delay:1.2s;
}

.title span:nth-child(8) {
-webkit-animation-delay:1.4s;
   -moz-animation-delay:1.4s;
    -ms-animation-delay:1.4s;
        animation-delay:1.4s;
}

.title span:nth-child(9) {
-webkit-animation-delay:1.8s;
   -moz-animation-delay:1.8s;
    -ms-animation-delay:1.8s;
        animation-delay:1.8s;
}

.title span:nth-child(10) {
-webkit-animation-delay:2.0s;
   -moz-animation-delay:2.0s;
    -ms-animation-delay:2.0s;
        animation-delay:2.0s;
}

.title span:nth-child(11) {
-webkit-animation-delay:2.2s;
   -moz-animation-delay:2.2s;
    -ms-animation-delay:2.2s;
        animation-delay:2.2s;
}

.title span:nth-child(12) {
-webkit-animation-delay:2.4s;
   -moz-animation-delay:2.4s;
    -ms-animation-delay:2.4s;
        animation-delay:2.4s;
}


.title span:nth-child(13) {
-webkit-animation-delay:2.8s;
   -moz-animation-delay:2.8s;
    -ms-animation-delay:2.8s;
        animation-delay:2.8s;
}

.title span:nth-child(14) {
-webkit-animation-delay:3.0s;
   -moz-animation-delay:3.0s;
    -ms-animation-delay:3.0s;
        animation-delay:3.0s;
}


.title span:nth-child(15) {
-webkit-animation-delay:3.2s;
   -moz-animation-delay:3.2s;
    -ms-animation-delay:3.2s;
        animation-delay:3.2s;
}


.title span:nth-child(16) {
-webkit-animation-delay:3.4s;
   -moz-animation-delay:3.4s;
    -ms-animation-delay:3.4s;
        animation-delay:3.4s;
}


.title span:nth-child(17) {
-webkit-animation-delay:3.8s;
   -moz-animation-delay:3.8s;
    -ms-animation-delay:3.8s;
        animation-delay:3.8s;
}

.title span:nth-child(18) {
-webkit-animation-delay:4.0s;
   -moz-animation-delay:4.0s;
    -ms-animation-delay:4.0s;
        animation-delay:4.0s;
}

.title span:nth-child(19) {
-webkit-animation-delay:4.2s;
   -moz-animation-delay:4.2s;
    -ms-animation-delay:4.2s;
        animation-delay:4.2s;
}

.title span:nth-child(20) {
-webkit-animation-delay:4.4s;
   -moz-animation-delay:4.4s;
    -ms-animation-delay:4.4s;
        animation-delay:4.4s;
}

.title span:nth-child(21) {
-webkit-animation-delay:4.8s;
   -moz-animation-delay:4.8s;
    -ms-animation-delay:4.8s;
        animation-delay:4.8s;
}

.title span:nth-child(22) {
-webkit-animation-delay:5.0s;
   -moz-animation-delay:5.0s;
    -ms-animation-delay:5.0s;
        animation-delay:5.0s;
}

.title span:nth-child(23) {
-webkit-animation-delay:5.2s;
   -moz-animation-delay:5.2s;
    -ms-animation-delay:5.2s;
        animation-delay:5.2s;
}

.title span:nth-child(24) {
-webkit-animation-delay:5.4s;
   -moz-animation-delay:5.4s;
    -ms-animation-delay:5.4s;
        animation-delay:5.4s;
}

.title span:nth-child(25) {
-webkit-animation-delay:5.8s;
   -moz-animation-delay:5.8s;
    -ms-animation-delay:5.8s;
        animation-delay:5.8s;
}

.title span:nth-child(26) {
-webkit-animation-delay:6.0s;
   -moz-animation-delay:6.0s;
    -ms-animation-delay:6.0s;
        animation-delay:6.0s;
}

.title span:nth-child(27) {
-webkit-animation-delay:6.2s;
   -moz-animation-delay:6.2s;
    -ms-animation-delay:6.2s;
        animation-delay:6.2s;
}

.title span:nth-child(28) {
-webkit-animation-delay:6.4s;
   -moz-animation-delay:6.4s;
    -ms-animation-delay:6.4s;
        animation-delay:6.4s;
}
